:root {
    /*Primary*/
    --very-dark-blue: hsl(233, 47%, 7%);
    --dark-desaturated-blue: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);

    /*Neutral*/
    --white: hsl(0, 0%, 100%);
    --slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
    --slightly-transparent-white: hsla(0, 0%, 100%, 0.6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--very-dark-blue);
    width: 100vw;
    height: 100vh;
    color: var(--white);
    font-size: 15px;
}

.container {
    margin: 50px auto;
    max-width: 90%;
    background-color: var(--dark-desaturated-blue);
    text-align: center;
    border-radius: 5px;
}

img {
    width: 100%;
    max-width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    object-fit: cover;
}

.card:nth-child(2) {
    padding: 30px 30px;
}

.card:nth-child(2) p {
    margin-bottom: 2.5em;
    padding: 0 10px;
}

ul {    
    list-style-type: none;
}


/*Typography*/
h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    margin-bottom: 0.75em;
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: var(--slightly-transparent-white);
}

.card span {
    color: var(--soft-violet);
    font-size: 1.75rem;
}

ul li {
    margin-bottom: 0.75em;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: var(--slightly-transparent-white);
    text-transform: uppercase;
}

ul li .stat-figure {
    display: block;
    color: var(--white);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 0.25em;
}

.attribution { 
    font-size: .75rem; 
    text-align: center; 
    padding: 10px 0;
    margin-bottom: 2em;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/*Desktop Layout*/
@media (min-width: 1250px){
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container {
        max-width: 80%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }
    img {
        height: 100%;
        width: 100%;
        border-radius: 0 5px 5px 0;
    }
    .card {
        padding: 0;
        text-align: left;
        width: 50%;
    }
    .card:nth-child(2) {
        max-height: 80%;
        padding: 1em 3em;
    }
    .card:nth-child(2) p {
        padding: 0;
    }

    ul {
        display: flex;
    }

    ul li {
        margin-right: 2em;
    }

}